.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 80vh;
  padding: 2rem;
  -webkit-transition: height .5s ease;
  transition: height .5s ease;
  @media (min-width: 600px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
            align-items: center;
 }
@media (min-width: 1000px){
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
-webkit-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
}
}
.logo {
display: block;
text-align: center;
width: 100%;
@media (min-width: 600px) {
  width: 25%;
text-align: left;
}
}
.select-form {
  display: block;
  @media (min-width: 600px) {
    margin-left: 4rem;
text-align: right;
}
}
.select-form p{
  text-align: center;
  margin: 1rem;
}

#mySelect{
font-size: 2rem;
}
.img-logo {
  -webkit-transition: all .5s .5s ease-out;
  transition: all .5s .5s ease-out;

}
